@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rentals</h1>
    <p class="lead">The brand new bicycle rental service soon in your town!</p>
    <p><a href="https://localhost:44329/Bikes" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Who are we?</h2>
        <p>
            We are group of group of young enterprenueurs and keen cyclist. Want to know us more in depth?
        </p>
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>