@model IEnumerable<BikeToGoRental.Models.Bike>
@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body>
        
            <h2 style="text-align: center;">Bikes</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-5-read">
                        <img class="bike-pics" src="Image/trekxcaliber9-removebg-preview.png" />
                        <button id="bike-order" type="submit" class="btn btn-primary">
                            Order now
                        </button>
                    </div>
                    <div class="col-sm-5-read">
                        <img class="bike-pics" src="Image/scottaspect-removebg-preview.png" />
                        <button id="bike-order" type="submit" class="btn btn-primary">
                            Order now
                        </button>
                    </div>

                    <div class="col-sm-5-read">
                        <img class="bike-pics" src="Image/specializedrockhopper-removebg-preview.png" />
                        <button id="bike-order" type="submit" class="btn btn-primary">
                            Order now
                        </button>
                    </div>
                    <div id="bike-container" class="col-sm-5-read">
                        <img class="bike-pics" src="Image/mondraker-removebg-preview.png" />
                        <button id="bike-order" type="submit" class="btn btn-primary">
                            Order now
                        </button>
                    </div>
                </div>

            </div>
    </body>


@section scripts
{
    <script>
        fetch('https://localhost:44329/api/bikes')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementsByClassName("row")[0];
            var counter = 0;
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.id = "div" + counter++;
                div.innerHTML = '<span class="col-bike">Name: ' + data[i].name + '<br/>Model: ' + data[i].model + '<br/>Surface type: '
                    + data[i].surfaceType.name + '<br/>Gears: ' + data[i].gears + '<br/>Sizes: ' + data[i].frameSize + '</span>';
                mainContainer.children[i].appendChild(div)
            }

        }
    </script>

}
